@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
:root {
  --text-color: #3d3d3d;
  --primary-color: #e2a353;
  --body-bg: #f2f2f2;
  --sidepanel-width: 256px;
  --muted-color: #a5a1a4;
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: var(--body-bg) !important;
  color: var(--text-color);
}
.wrapper {
  min-height: calc(100vh - 100px);
  padding: 30px;
}
.uk-navbar-nav > li > a {
  color: var(--text-color) !important;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.mainmenu {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px #00000055;
  background: white;
  border-radius: 5px;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
  .uk-navbar {
    width: 100%;
  }
  .uk-navbar-nav {
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    font-weight: 600;
    padding: 2px 5px;
    border-radius: 5px;
    .navlink {
      display: flex;
      align-items: center;
      gap: 10px;
      text-transform: uppercase;
      white-space: nowrap;
      min-height: 40px;
      font-size: 16px;
    }
    .icon {
      font-size: 14px;
    }
  }
}
.logo {
  width: var(--sidepanel-width);
}

.sidebar {
  padding: 20px;
  width: var(--sidepanel-width);
  background: white;
  height: calc(90vh - 90px);
  border-radius: 10px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  .uk-nav {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
    a {
      color: var(--text-color);
    }
    li.uk-active {
      a {
        color: var(--primary-color) !important;
      }
    }
    .uk-nav-sub {
      font-size: 14px;
    }
  }
}

.copyright {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  background: white;
  height: 80px;
  color: var(--muted-color);
}
